
.swiper-slidee{
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }

.news{
    padding-top: 76px;
    &__cards{
        margin: 0 20px;
    }
    &__title{
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 32px;
                &-text{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 31px;
                    line-height: 38px;
                    padding-right: 12px;
                }
            }
    &__slider{
        display: flex;
        padding: 24px;
        align-items: stretch !important;
    }
        &__time{
            padding-top: 12px;
        display: flex;
        align-items: center;
        &-icon{
            width: 20px;
            height: 20px;
        }
        &-img{
            width: 100%;
        }
        &-t{
            padding-left: 10px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }
    }
        &_title{
            padding-top: 16px;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
    }
        &_text{
            padding-top: 12px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
    &__card{
        align-items: center;
        &-img{
            width: 100%;
            height: 239px;
            border-radius: 12px;
            overflow: hidden;
        }
        &-image{
            width: 100%;
        }
    }
}
@media (max-width:1140px) {
    .news{
       &__slider{
        width: 48.5%;
       }
    }
}
@media (max-width:320px) {
    .news{
        &__card{
            &-img{
                width: 200px;
                height: 139px;
            }
        }
    }
}